<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>BShop : Category page</title>

    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://tilda.ws/project2557065/tilda-blocks-2.12.css?t=1591029809" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-menusub-1.0.min.css" type="text/css"
          media="all"/>
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js"></script>
    <script src="https://tilda.ws/project2557065/tilda-blocks-2.7.js?t=1591029809"></script>
    <script src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-menusub-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
        document.getElementsByTagName('head')[0].appendChild(style);
        $(document).ready(function () {
            $('.t-records').addClass('t-records_animated');
            setTimeout(function () {
                $('.t-records').addClass('t-records_visible');
                sessionStorage.setItem('visited', 'y');
            }, 400);
        });
    }</script>
</head>
<body class="t-body" style="margin:0;">
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2557065"
     data-tilda-page-id="11786895" data-tilda-page-alias="category"
     data-tilda-formskey="a06e7fcbfe1ed7a6eb3227d948d97a45">
    <div id="rec197954913" class="r t-rec t-rec_pt_0 t-rec_pb_0"
         style="padding-top:0px;padding-bottom:0px;background-color:#087c8b; " data-animationappear="off"
         data-record-type="456" data-bg-color="#087c8b"><!-- T456 -->
        <div id="nav197954913marker"></div>
        <div class="t456__mobile">
            <div class="t456__mobile_container">
                <div class="t456__mobile_text t-name t-name_md" field="text">&nbsp;</div>
                <div class="t456__burger"><span></span> <span></span> <span></span> <span></span></div>
            </div>
        </div>
        <div id="nav197954913" class="t456 t456__hidden t456__positionabsolute "
             style="background-color: rgba(8,124,139,1); height:110px; " data-bgcolor-hex="#087c8b"
             data-bgcolor-rgba="rgba(8,124,139,1)" data-navmarker="nav197954913marker" data-appearoffset=""
             data-bgopacity-two="60" data-menushadow="" data-bgopacity="1"
             data-bgcolor-rgba-afterscroll="rgba(8,124,139,0.60)" data-menu-items-align="right" data-menu="yes">
            <div class="t456__maincontainer " style="height:100px;">
                <div class="t456__leftwrapper" style="">
                    <div><a href="/"
                            style="color:#ffffff;letter-spacing:0.5px;font-family:&apos;Arial&apos;; font-size:80px">
                        <div>
                            BShop
                        </div>
                    </a></div>
                </div>
                <div class="t456__rightwrapper t456__menualign_right" style="">
                    <ul class="t456__list">

                        <li class="t456__list_item"><a class="t-menu__link-item" href="/category"
                                                       data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="2">Категорії</a></li>
                        <li class="t456__list_item"><a class="t-menu__link-item" href="/info" data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="3">Інформація</a></li>
                        <li class="t456__list_item"><a class="t-menu__link-item" href="/user" data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="3">Особистий кабінет</a></li>
                    </ul>
                </div>
            </div>
        </div>





    </div>
    <div id="rec197954953" class="r t-rec t-rec_pt_45 t-rec_pb_150" style="padding-top:200px;padding-bottom:150px; "
         data-animationappear="off" data-record-type="686"><!-- t686 -->
        <div class="t686" data-tile-ratio="0.72222222222222">


            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle"><span
                                style="color: rgb(8, 124, 139);">Категорії товарів</span></div>
                    </div>
                </div>
            </div>
            <div class="t686__container t-container">
                <div class="t686__row">
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link" href="/category/tv">
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1494497749748"
                                     data-original="https://static.tildacdn.com/lib/unsplash/01f3f106-2d54-4dc8-e4ac-1d26bd2bcfe5/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/01f3f106-2d54-4dc8-e4ac-1d26bd2bcfe5/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1494497749748"
                                                 style="color:#ffffff;font-size:28px;"><strong
                                                    style="color: rgb(255, 255, 255);">Телевізори</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link" href="/dev" >
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1503603844046"
                                     data-original="https://static.tildacdn.com/lib/unsplash/a1fdaee4-8823-15cb-a75f-6329cdc10067/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/a1fdaee4-8823-15cb-a75f-6329cdc10067/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1503603844046"
                                                 style="color:#ffffff;font-size:28px;">Холодильники
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link" href="/dev" >
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1494498239096"
                                     data-original="https://static.tildacdn.com/lib/unsplash/10bedfa7-8574-eb9d-1d27-cb7830e68051/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/10bedfa7-8574-eb9d-1d27-cb7830e68051/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1494498239096"
                                                 style="color:#ffffff;font-size:28px;">Пилососи
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                </div>
                <div class="t686__row">
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link" href="/dev" >
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1503603852131"
                                     data-original="https://static.tildacdn.com/lib/unsplash/cb2d20c5-af2c-baed-f88f-c255fbca718d/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/cb2d20c5-af2c-baed-f88f-c255fbca718d/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1503603852131"
                                                 style="color:#ffffff;font-size:28px;">Пральні машини
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link"  href="/category/phones" >
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1503603847449"
                                     data-original="https://static.tildacdn.com/lib/unsplash/e46b1171-414a-4b4e-99e1-8c4365f23702/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/e46b1171-414a-4b4e-99e1-8c4365f23702/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1503603847449"
                                                 style="color:#ffffff;font-size:28px;">Телефони
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                    <div class="t686__col t-col t-col_4 t-align_center "><a class="t686__link"  href="/dev" >
                        <div class="t686__table" style="height:260px;">
                            <div class="t686__cell t-align_center t-valign_middle">
                                <div class="t686__bg t686__animation_fast t686__bg_animated t-bgimg"
                                     bgimgfield="li_img__1503603850637"
                                     data-original="https://static.tildacdn.com/lib/unsplash/587506a9-cceb-a756-86eb-d48ea7e234b4/photo.jpg"
                                     style="background-image:url('https://static.tildacdn.com/lib/unsplash/587506a9-cceb-a756-86eb-d48ea7e234b4/-/resizeb/20x/photo.jpg');"></div>
                                <div class="t686__overlay t686__animation_fast"
                                     style="background-image: -moz-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -webkit-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -o-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80)); background-image: -ms-linear-gradient(top, rgba(8,124,139,0.80), rgba(255,255,255,0.80));"></div>
                                <div class="t686__textwrapper t686__animation_fast ">
                                    <div class="t686__textwrapper__content">
                                        <div class="t686__inner-wrapper">
                                            <div class="t686__title t-name t-name_xl" field="li_title__1503603850637"
                                                 style="color:#ffffff;font-size:28px;">Ноутбуки
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>