<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700&display=swap" rel="stylesheet">


    <title>Login </title>

    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://tilda.ws/project2557065/tilda-blocks-2.12.css?t=1591029809" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-menusub-1.0.min.css" type="text/css"
          media="all"/>
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js"></script>
    <script src="https://tilda.ws/project2557065/tilda-blocks-2.7.js?t=1591029809"></script>
    <script src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-menusub-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
        document.getElementsByTagName('head')[0].appendChild(style);
        $(document).ready(function () {
            $('.t-records').addClass('t-records_animated');
            setTimeout(function () {
                $('.t-records').addClass('t-records_visible');
                sessionStorage.setItem('visited', 'y');
            }, 400);
        });
    }</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>


        body {
            font-size: 40px;

        }


        .wrapper {
            height: 100vh;
            background: url(https://i.imgur.com/Nii9THB.jpg) center repeat-y;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }




    </style>

</head>
<body>
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2557065"
     data-tilda-page-id="11786895" data-tilda-page-alias="category"
     data-tilda-formskey="a06e7fcbfe1ed7a6eb3227d948d97a45">
    <div id="rec197954913" class="r t-rec t-rec_pt_0 t-rec_pb_0"
         style="padding-bottom:0px;background-color:#087c8b; " data-animationappear="off"
         data-record-type="456" data-bg-color="#087c8b"><!-- T456 -->
        <div id="nav197954913marker"></div>
        <div class="t456__mobile">
            <div class="t456__mobile_container">
                <div class="t456__mobile_text t-name t-name_md" field="text">&nbsp;</div>
                <div class="t456__burger"><span></span> <span></span> <span></span> <span></span></div>
            </div>
        </div>
        <div id="nav197954913" class="t456 t456__hidden t456__positionabsolute "
             style="background-color: rgba(8,124,139,1); height:110px; " data-bgcolor-hex="#087c8b"
             data-bgcolor-rgba="rgba(8,124,139,1)" data-navmarker="nav197954913marker" data-appearoffset=""
             data-bgopacity-two="60" data-menushadow="" data-bgopacity="1"
             data-bgcolor-rgba-afterscroll="rgba(8,124,139,0.60)" data-menu-items-align="right" data-menu="yes">
            <div class="t456__maincontainer ">
                <div class="t456__leftwrapper" style="">
                    <div><a href="/"
                            style="color:#ffffff;letter-spacing:0.5px;font-family:&apos;Arial&apos;; font-size:80px;">
                        <div>
                            BShop
                        </div>
                    </a></div>
                </div>
                <div class="t456__rightwrapper t456__menualign_right" style="">
                    <ul class="t456__list">

                        <li class="t456__list_item"><a class="t-menu__link-item" href="/category"
                                                       data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="2">Категорії</a></li>
                        <li class="t456__list_item"><a class="t-menu__link-item" href="/info" data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="3">Інформація</a></li>
                        <li class="t456__list_item"><a class="t-menu__link-item" href="/user" data-menu-submenu-hook=""
                                                       style="color:#ffffff;font-size:32px;font-weight:600;"
                                                       data-menu-item-number="3">Особистий кабінет</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <div class="wrapper">

        <div>


            <div >



                <div><font color="087C8B" size="10px">Сторінка в розробці</font></div>


            </div>


        </div>


    </div>

</div>
</body>
</html>